.sidenav{
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav li a{
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(22, 22, 22, 0.25);
    transition: 0.3s;

}

.sidenav li a:hover{
    background: #b07dfb;
    transition: scale(0.3s);
}